/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

header div.container {
    background-color: white;
}

header .container h1{
    font-size: 18px;
}

header div.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.container nav{
    grid-column: 2;
}

.container nav ul {
    display: flex;
    gap: 10px;
}

.container nav a{
    color: #6b7280;
}

.container nav a:hover{
    color: #5A67D8;
}

.container li{
    display: inline;
}

.overview-hero {
    background-color: #e2e8f0;
    padding: 50px;
}

.overview-hero-image img {
    height: auto;
    width: 250px;
    object-fit: contain;
    margin-right: 50px;
}

.overview-hero .container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

section.learn-about .container div.cards{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
}

section.learn-about .cards{
    grid-row: 2;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    margin: 20px;

}

section.learn-about h2{
    font-size: 24px;
    color: #48bb78
}

section.learn-about h3{
    font-size: 21px;
    color:#48bb78
}

section.learn-about img{
    width: 100%;
    height:auto;
    object-fit: contain;
}

section.testing {
    background-color: #4a5568;
    padding: 100px;
}

section.testing .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #4a5568;
    color: white
}

section.testing div.cta{
    background-color: #48bb78;
    display: flex;
    justify-content: center;  
    align-items: center;
    height: fit-content;  
    padding: 10px 50px;
    border-radius: 5px;
    margin-left: 50px;
    white-space: nowrap;
    overflow: hidden;
}

.testing a {
    color: white;
    text-transform: uppercase;
}

.testing-description{
    max-width: 60%;
}

.stories {
    padding: 100px;
}

section.stories h2 {
    color: #5A67D8;
}

section.stories h3 {
    font-size: 18px;
}

.stories article img{
    width: 180px;
    border-radius: 50vh;
}

.stories article{
    display: flex;
    gap: 2rem;
}

section.stories .container div.article-body{
    grid-column: 2;
}

section.newsletter {
    background-color: #48bb78;
    padding: 50px;
}

section.newsletter .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

section.newsletter .container form{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.newsletter input{
    height: 2.5rem;
    width: 200px;
    border-radius: 5px;
}

.newsletter form .btn{
    background-color: #5A67D8;
    border: 0;
    border-radius: .5rem;
    height: fit-content;
    padding: 1rem 1.5rem;
    color: white;
}

footer {
    background-color: #4a5568;
    color: white;
    padding: 25px;
}

footer p{
    align-self: center;
}